In [1]:
import pandas as pd
from setPandasOptions import setPandasOptions

In [2]:
setPandasOptions()

In [4]:
dataloc = "/home/tbrownex/"
file    = "NNresults.csv"
df = pd.read_csv(dataloc+file)

In [7]:
df.sort_values(by=["F1-score"], ascending=False)[:10]

    F1-score  FalseNeg  FalsePos  G-score  ...  learningRate  loss precision  recall
39     0.520    58.000    17.000    0.540  ...         0.000 0.009     0.702   0.408
67     0.200    14.000   645.000    0.310  ...         0.002 0.058     0.115   0.857
63     0.190    14.000   721.000    0.300  ...         0.002 0.056     0.104   0.857
77     0.190    13.000   699.000    0.310  ...         0.005 0.054     0.108   0.867
26     0.180    13.000   785.000    0.290  ...         0.002 0.065     0.098   0.867
88     0.180    14.000   758.000    0.290  ...         0.004 0.062     0.100   0.857
22     0.180    14.000   739.000    0.300  ...         0.003 0.064     0.102   0.857
13     0.170    13.000   807.000    0.290  ...         0.003 0.056     0.095   0.867
34     0.170    13.000   807.000    0.290  ...         0.004 0.064     0.095   0.867
45     0.170    13.000   835.000    0.280  ...         0.004 0.064     0.092   0.867

In [20]:
df.corr()["finalCost"]

dropout              NaN
finalCost       1.000000
l1Size         -0.438586
l2Size          0.038266
l3Size         -0.868342
l4Size          0.038266
l5Size         -0.438586
learningRate         NaN
Name: finalCost, dtype: float64

In [15]:
df.shape

(32, 9)

In [23]:
df.loc[df["learningRate"]==.001]["finalCost"].mean()

0.8754375

In [24]:
df.loc[df["learningRate"]==.01]["finalCost"].mean()

0.9425624999999999