In [1]:
import pandas as pd
from setPandasOptions import setPandasOptions

In [2]:
setPandasOptions()

In [46]:
dataloc = "/home/tbrownex/"
file    = "entropy.csv"
entropy = pd.read_csv(dataloc+file, header=None)
entropy.columns = ["entTrue", "entFalse"]

In [48]:
file    = "labels.csv"
labels = pd.read_csv(dataloc+file, header=None)
labels.columns=["labelFalse", "labelTrue"]

In [49]:
merged = pd.concat([logits, labels], axis=1)

In [54]:
false = merged.loc[merged["labelTrue"]==0]

In [57]:
false[1].mean()

0.9629918581579437

In [15]:
df.sort_values(by=["Score"], ascending=False).iloc[:,:5]

    Score  colsample_bytree  gamma  learning_rate  max_depth
2   0.797           0.700        0          0.050          3
0   0.796           0.700        0          0.050          3
10  0.793           0.700        0          0.030          3
7   0.792           0.700        0          0.050          3
4   0.786           0.700        0          0.030          3
..    ...             ...      ...            ...        ...
1   0.785           0.700        0          0.050          3
5   0.785           0.700        0          0.030          3
9   0.783           0.700        0          0.030          3
3   0.781           0.700        0          0.030          3
8   0.780           0.700        0          0.050          3

In [16]:
df.sort_values(by=["Score"], ascending=False).iloc[:,5:]

    min_child_weight  n_estimators  scale_pos_weight  subsample
2               11             100             578        1.000
0                7             100             578        1.000
10               9             150             578        1.000
7                9             150             578        1.000
4                9             100             578        1.000
..             ...             ...             ...          ...
1                9             100             578        1.000
5               11             100             578        1.000
9                7             150             578        1.000
3                7             100             578        1.000
8               11             150             578        1.000

In [13]:
latest = pd.read_csv(dataloc+file)

In [14]:
latest["score"].max()

0.8079999999999999

In [15]:
latest.corr()

               learning_rate  max_depth  n_estimators  score  subsample
learning_rate          1.000      0.000        -0.000  0.137     -0.000
max_depth              0.000      1.000         0.000  0.286      0.000
n_estimators          -0.000      0.000         1.000 -0.095     -0.000
score                  0.137      0.286        -0.095  1.000     -0.000
subsample             -0.000      0.000        -0.000 -0.000      1.000

In [16]:
latest.sort_values(by=["score"], ascending=False)

    learning_rate  max_depth  n_estimators  score  subsample
0           0.200          3           150  0.808      0.800
10          0.200          5           200  0.808      0.800
25          0.050          5           300  0.808      0.800
22          0.100          5           300  0.808      0.800
19          0.200          5           300  0.808      0.800
..            ...        ...           ...    ...        ...
3           0.100          3           150  0.788      0.800
23          0.100          7           300  0.788      0.800
2           0.200          7           150  0.788      0.800
6           0.050          3           150  0.769      0.800
24          0.050          3           300  0.769      0.800