In [1]:
from setPandasOptions import setPandasOptions
from getConfig   import getConfig
from getData     import getData
from analyzeCols import analyzeCols
from getHighCorr import getHighCorr
from splitData   import splitData
from splitLabel  import splitLabel

In [2]:
setPandasOptions()

In [19]:
config = getConfig()
df = getData(config)

In [21]:
del df["Time"]

In [22]:
total = df.shape[0]
frauds = df.loc[df["Class"]==1].shape[0]
non = df.loc[df["Class"]==0].shape[0]
ratio = int(non/frauds)

print("{:,} records in the file".format(total))
print("{:,} Frauds which is 1 out of {}".format(frauds, ratio))

284,807 records in the file
492 Frauds which is 1 out of 577

In [23]:
# See if any static columns
static =  analyzeCols(df)
print("Static columns:")
if len(static) > 0:
    print(static)
else:
    print(" - none")

Static columns:
 - none

In [24]:
# Are there any highly correlated variables that can be removed?
c = getHighCorr(df, 0.8)
c

[]

In [25]:
# Identify any categorical columns
for col in df.columns:
    u = df[col].unique()
    if len(u) < 10:
        print(col)

Class

In [26]:
d = df.describe()
d

              V1         V2         V3         V4  ...        V27        V28     Amount      Class
count 284807.000 284807.000 284807.000 284807.000  ... 284807.000 284807.000 284807.000 284807.000
mean       0.000      0.000     -0.000      0.000  ...     -0.000     -0.000     88.350      0.002
std        1.959      1.651      1.516      1.416  ...      0.404      0.330    250.120      0.042
min      -56.408    -72.716    -48.326     -5.683  ...    -22.566    -15.430      0.000      0.000
25%       -0.920     -0.599     -0.890     -0.849  ...     -0.071     -0.053      5.600      0.000
50%        0.018      0.065      0.180     -0.020  ...      0.001      0.011     22.000      0.000
75%        1.316      0.804      1.027      0.743  ...      0.091      0.078     77.165      0.000
max        2.455     22.058      9.383     16.875  ...     31.612     33.848  25691.160      1.000

In [30]:
def getZ(col):
    rowZ = (df[col] - df[col].mean())/df[col].std()
    return rowZ.min(), rowZ.max()

In [33]:
for col in df.columns:
    mi, ma = getZ(col)
    print(col, "  ", mi, "  ", ma)

V1    -28.798504351844315    1.2533492880193196
V2    -44.03521453631691    13.357726874692933
V3    -31.871676728103875    6.187981837343446
V4    -4.013911530176515    11.918722070868514
V5    -82.40795207602    25.214090364133316
V6    -19.636023131451086    55.020052682598404
V7    -35.20933390588409    97.478068047873
V8    -61.302415970722535    16.751504785903833
V9    -12.227993747857044    14.19491999194974
V10    -22.58186870082846    21.80754120094483
V11    -4.7001197540835955    11.775016929651947
V12    -18.698647569065088    7.854664893265567
V13    -5.819382267731905    7.16072288709572
V14    -20.044245211037953    10.981446115719558
V15    -4.915181882212041    9.699100075964973
V16    -16.125315785955873    19.760404521159025
V17    -29.626399748135174    10.894998754016907
V18    -11.33263604127614    6.014331029802841
V19    -8.861386409357912    6.8694019794542225
V20    -70.69133668678853    51.13455002189367
V21    -47.41898353674154    37.03464914023077
V22    -15.065619661906739    14.473015716769412
V23    -71.75433813786057    36.076611833759046
V24    -4.683630235147002    7.569671150800496
V25    -19.75029769485857    14.42529257159409
V26    -5.401088037758222    7.29396221053186
V27    -55.90649811962665    78.31925947606145
V28    -46.74603526110249    102.54324133940474
Amount    -0.35322877284564846    102.36206300454987
Class    -0.04159890533850926    24.03900969780134

In [37]:
df["V5"].min(), df["V5"].max(), df["V5"].mean(), df["V5"].std()

(-113.74330671114599,
 34.8016658766686,
 9.604066317127324e-16,
 1.3802467340314395)