In [7]:
import tensorflow as tf

In [8]:
batchSize = 1

In [17]:
loc = "/home/tbrownex/data/CreditCardFraud/"
fil = "holdout.csv"

In [18]:
df = pd.read_csv(loc+fil)

In [19]:
df.pop("Time")

0         51300.0
1         49785.0
2         66551.0
3         81230.0
4        150682.0
5         66608.0
6        152870.0
7         10785.0
8         79331.0
9         75689.0
10       135484.0
11        55665.0
12       118666.0
13        84953.0
14        46400.0
15       149189.0
16       128263.0
17        63113.0
18        31459.0
19       136253.0
20        53515.0
21        43352.0
22       119348.0
23        45995.0
24        48905.0
25       159866.0
26        38405.0
27       145945.0
28        40957.0
29       127862.0
           ...
56932     71204.0
56933    126272.0
56934     10819.0
56935    159014.0
56936     68780.0
56937     79124.0
56938     25733.0
56939      2797.0
56940     67422.0
56941    116093.0
56942     54589.0
56943     36007.0
56944    143226.0
56945    155297.0
56946     69975.0
56947     73818.0
56948     56923.0
56949     43965.0
56950    123944.0
56951     36067.0
56952    165178.0
56953     75059.0
56954     16853.0
56955    113039.0
56956     58384.0
56957    129202.0
56958     80192.0
56959      1503.0
56960     43280.0
56961    157486.0
Name: Time, Length: 56962, dtype: float64

In [20]:
labels = df.pop("Class")

In [26]:
for col in df.columns:
    print(col, df[col].describe())
    input()

V1 count    56962.000000
mean         0.005416
std          1.930115
min        -46.855047
25%         -0.923251
50%          0.018988
75%          1.315875
max          2.454930
Name: V1, dtype: float64

V2 count    56962.000000
mean        -0.002448
std          1.646723
min        -47.429676
25%         -0.601301
50%          0.066001
75%          0.807754
max         16.713389
Name: V2, dtype: float64

V3 count    56962.000000
mean        -0.003247
std          1.506712
min        -48.325589
25%         -0.892279
50%          0.174402
75%          1.019390
max          9.382558
Name: V3, dtype: float64

V4 count    56962.000000
mean        -0.000900
std          1.414361
min         -5.560118
25%         -0.848171
50%         -0.021923
75%          0.732059
max         15.304184
Name: V4, dtype: float64

V5 count    56962.000000
mean         0.001540
std          1.451399
min       -113.743307
25%         -0.690420
50%         -0.050786
75%          0.618699
max         34.099309
Name: V5, dtype: float64

V6 count    56962.000000
mean        -0.002563
std          1.364441
min        -23.496714
25%         -0.764656
50%         -0.279814
75%          0.390470
max         73.301626
Name: V6, dtype: float64

V7 count    56962.000000
mean         0.005584
std          1.324756
min        -31.764946
25%         -0.551226
50%          0.040591
75%          0.570648
max        120.589494
Name: V7, dtype: float64

V8 count    56962.000000
mean        -0.009581
std          1.217834
min        -73.216718
25%         -0.209145
50%          0.018943
75%          0.322583
max         20.007208
Name: V8, dtype: float64

V9 count    56962.000000
mean        -0.005648
std          1.100513
min         -9.462573
25%         -0.651785
50%         -0.053273
75%          0.596621
max         15.594995
Name: V9, dtype: float64

V10 count    56962.000000
mean         0.003852
std          1.080798
min        -22.187089
25%         -0.530171
50%         -0.087751
75%          0.456548
max         23.745136
Name: V10, dtype: float64

V11 count    56962.000000
mean         0.001246
std          1.014216
min         -4.049895
25%         -0.759864
50%         -0.024194
75%          0.738941
max         11.669205
Name: V11, dtype: float64

V12 count    56962.000000
mean        -0.005701
std          0.991194
min        -18.047597
25%         -0.412742
50%          0.133460
75%          0.614844
max          7.848392
Name: V12, dtype: float64

V13 count    56962.000000
mean        -0.004201
std          1.002580
min         -5.791881
25%         -0.663025
50%         -0.020639
75%          0.661636
max          7.126883
Name: V13, dtype: float64

V14 count    56962.000000
mean         0.007388
std          0.947136
min        -18.493773
25%         -0.424214
50%          0.057919
75%          0.502441
max         10.526766
Name: V14, dtype: float64

V15 count    56962.000000
mean        -0.005530
std          0.919965
min         -4.097947
25%         -0.590347
50%          0.044616
75%          0.649315
max          8.877742
Name: V15, dtype: float64

V16 count    56962.000000
mean        -0.001710
std          0.871991
min        -13.303888
25%         -0.467066
50%          0.062781
75%          0.521414
max         17.315112
Name: V16, dtype: float64

V17 count    56962.000000
mean         0.004866
std          0.836863
min        -21.710188
25%         -0.484405
50%         -0.063569
75%          0.404541
max          9.207059
Name: V17, dtype: float64

V18 count    56962.000000
mean        -0.000895
std          0.836245
min         -8.859452
25%         -0.497500
50%         -0.004973
75%          0.495018
max          4.093440
Name: V18, dtype: float64

V19 count    56962.000000
mean        -0.001369
std          0.815185
min         -4.539840
25%         -0.460671
50%          0.001542
75%          0.455273
max          5.501747
Name: V19, dtype: float64

V20 count    56962.000000
mean         0.003202
std          0.774677
min        -54.497720
25%         -0.211836
50%         -0.061902
75%          0.133887
max         19.746453
Name: V20, dtype: float64

V21 count    56962.000000
mean         0.001932
std          0.745632
min        -34.830382
25%         -0.228347
50%         -0.030827
75%          0.186959
max         22.580675
Name: V21, dtype: float64

V22 count    56962.000000
mean        -0.000889
std          0.725201
min         -8.454599
25%         -0.544687
50%          0.005393
75%          0.526583
max         10.503090
Name: V22, dtype: float64

V23 count    56962.000000
mean        -0.002733
std          0.604864
min        -32.828995
25%         -0.162427
50%         -0.011255
75%          0.144921
max         19.228169
Name: V23, dtype: float64

V24 count    56962.000000
mean        -0.003231
std          0.602450
min         -2.776600
25%         -0.354864
50%          0.038826
75%          0.434014
max          4.584549
Name: V24, dtype: float64

V25 count    56962.000000
mean         0.003003
std          0.521166
min         -8.696627
25%         -0.316975
50%          0.021885
75%          0.353668
max          4.554683
Name: V25, dtype: float64

V26 count    56962.000000
mean        -0.001152
std          0.479816
min         -2.068561
25%         -0.327310
50%         -0.051257
75%          0.238976
max          3.463246
Name: V26, dtype: float64

V27 count    56962.000000
mean         0.002169
std          0.416138
min        -22.565679
25%         -0.070360
50%          0.001554
75%          0.090961
max         31.612198
Name: V27, dtype: float64

V28 count    56962.000000
mean        -0.002331
std          0.318273
min        -15.430084
25%         -0.052992
50%          0.011157
75%          0.076762
max         15.769636
Name: V28, dtype: float64

Amount count    56962.000000
mean        89.377306
std        272.243480
min          0.000000
25%          5.702500
50%         22.000000
75%         78.000000
max      25691.160000
Name: Amount, dtype: float64